/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
}

p {
  padding: 1%;
  position: relative;
  margin: 1%;

}

div#container{
  margin-left: 5%;
  margin-right: 5%;
}
span{
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  position: absolute;
  right: 0px;
  width: 20%;
  text-align: center;
}
section div {
  position: relative;
  height: 10%;
  margin-bottom: 2%;
}

/****** Desktop default******/
section{
  float:left;
  height: 8em;
  width: 30.3%;
  margin: 1%;
  border: 1px solid black;
  overflow: hidden;
  background-color: #A8A8A8;

}
#chicken span{
  background-color: #ff6600;
}

#beef span{
  background-color: #cc0000;
}

#sushi span{
  background-color: #66ccff;
}


/********** Tablet devices only **********/
@media (min-width: 762px) and (max-width: 991px) {
  section {

    width: 48%;
  }
  #sushi {
    width: 98%;

  }
  #sushi span{
    width: 10%;
  }
}

/********** Mobile devices only **********/
@media (max-width: 761px) {
  section{
    width: 98%;
  }
}