
#bs-example-navbar-collapse-1 p{
	color: black;
}

#header-nav a{
	color: black;
}

#menu-plates div{
	background-color: grey;
	margin: 2em;
	
}

#menu-plates {
	padding-right: 4em;
	
}

#bs-example-navbar-collapse-1 ul{
	background-color: grey;
	text-align: center;
}
#bs-example-navbar-collapse-1 li{
	border: 1px solid;
}

#main-content h3{
	text-align: center;
}

#main-content section{
	height: 1000px;
}
.navbar-brand {
	font-size: 30px;
}
